arrow==0.13.1
cassiopeia==4.0.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cycler==0.10.0
dask==1.1.0
datapipelines==1.0.7
decorator==4.3.0
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
markovify==0.7.1
MarkupSafe==1.1.1
matplotlib==3.0.2
merakicommons==1.0.6
networkx==2.2
nltk==3.4
numpy==1.16.0
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
Pillow==9.3.0
pyparsing==2.3.1
python-dateutil==2.7.5
PyWavelets==1.0.1
requests==2.21.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
toolz==0.9.0
Unidecode==1.0.23
urllib3==1.24.1
Werkzeug==0.14.1
